[Unit]
Description=Telegram Train Information Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/railbot/telegram-train-tracker/
ExecStart=/usr/bin/python3 /home/railbot/telegram-train-tracker/train_bot.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

# Ensure environment variables are loaded
EnvironmentFile=/home/railbot/telegram-train-tracker/.env

[Install]
WantedBy=multi-user.target
